/*--------------------------------------Restaurant Cards/Section--------------------------------------*/

.restaurants {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    justify-content: space-between;
    margin: 20px;
  }
  
  .restaurants__card {
    border-radius: 15px;
    padding: 5px;
    width: 100%;
    margin: 2%;
  }
  
  .restaurants__card img {
    object-fit: cover;
    height: 160px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .restaurants_new-tag {
    background-color: #99E2D0;
    color: #278870;
    font-weight: 500;
    padding: 5px 7%;
    border-radius: 2px;
    position: absolute;
    left: 73%;
    top: 15px;
  }